DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_ALLOWED_HOSTS=seu-dominio.com,www.seu-dominio.com
CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
DATABASE_URL=
